.THIS {
    background-color: lightgrey;
}
.THIS #fantasyteams {
    font-weight: bold;
    color:black;
}

.THIS #upto6 {
    font-weight: bold;
    color:black;
}
.THIS #newteamform {
    font-weight: bold;
    color:white;
}